.Navbar {
  margin-bottom: 2em;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Bodoni Moda', serif;
}
.Navbar a {
  margin-right: 2em;
  margin-top: 3em;
  text-decoration: none;
  color: black;
  font-weight: 100;
  letter-spacing: 0.5em;
  font-size: 0.9em;
}

.Navbar-logo {
  margin-right: auto;
  margin-top: 3em;
  margin-left: 2em;
}

.Navbar-logo a {
  font-size: 3em;
}

/* Responsive css */

@media (max-width: 576px) {
  .Navbar {
    margin-bottom: 2em;
    height: 2em;
  }

  .Navbar a {
    margin-right: 1em;
    margin-top: 2em;
    letter-spacing: 0;
    font-size: 1em;
  }

  .Navbar-logo {
    margin-top: 2em;
    margin-left: 1em;
  }

  .Navbar-logo a {
    font-size: 2em;
  }
}
