.Individual-category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
  height: 100vh;
  margin-bottom: 1em;
}

.Category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Category-item button {
  outline: none;
  color: white;
  background-color: black;
  border: none;
  padding: 1em;
  width: 10em;
  opacity: 0;
}

.Category-item button:hover {
  opacity: 1;
}

.Category-heading {
  font-family: 'Bodoni Moda', serif;
  text-transform: uppercase;
}

.Category-details {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  font-weight: 400;
  width: 100%;
  cursor: pointer;
}

/* .Category-details:hover {
  opacity: 0.7;
} */

.Category-details h4 {
  margin-right: 0.5em;
}
